{{ define "main" }}
<div id="info">
    <div id="blurb">
        <div id="inner-blurb-container">
            <div id="blurb-text">
                {{.Content}}<br />
                <ul>
                    {{range $.Site.Data.socials.platforms}}
                    <li><a href="{{.url}}" target="_blank">{{.name}} (<span class="flavourtext">{{index .flavour $.Language.Lang}}</span>)</a></li>
                    {{end}}
                </ul>

            </div>
        </div>

    </div>
    <div class="forkthis">
        <a href="https://gitlab.com/dylantic/dylanmaassen.nl" target="_blank" rel="nofollow">Git</a>
        <a href="https://gitlab.com/dylantic/dylanmaassen.nl/-/commit/{{ .GitInfo.Hash}}" target="_blank" rel="nofollow">[{{ .GitInfo.AbbreviatedHash}}]</a>
    </div>
</div>

{{ end }}