{{ define "main" }}
<div id="info">
    <div id="blurb">
        <div id="inner-blurb-container">
            <img src="/img/me.jpg">
            <div id="blurb-text">
                {{.Content}}<br />
                <ul>
                    {{range $.Site.Data.socials.platforms}}
                    <li><a href="{{.url}}" target="_blank">{{.name}} (<span class="flavourtext">{{.flavour}}</span>)</a></li>
                    {{end}}
                </ul>

            </div>
        </div>

    </div>
</div>

{{ end }}