@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
html, body {
  margin: 0;
}
body {
  background-color: #01112a;

}

#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1em;
  height: 100vh;
  box-sizing: border-box;
}

.kind-home{
  #socials{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    a{
      padding: 10px 20px;
      &:visited{
        color: white;
      }
      &:hover{
        text-shadow: 1px 1px 15px rgba(255, 255, 255, 1);
      }
    }
  }
}

#frontpage-info{
  color: #FFF;
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: end;
  align-self: end;
  text-align: right;
  font-family: 'Lexend', sans-serif;
  h1{
    font-size: 4rem;
    text-wrap: revert;
  }
  p{
    font-size: 2rem;
  }
}