<meta charset="utf-8">
<title>
    {{ block "title" . }} {{ .Site.Title }} {{ with .Title}}| {{ . }} {{ end }} {{ end }}
</title>
<meta name="description" content="{{ with .Description}}{{ . }}{{ end }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $normalize := resources.Get "scss/normalize.scss"}}
{{ $mainscss := resources.Get "scss/main.scss"}}
{{ $styling := slice $normalize $mainscss | resources.Concat "scss/styling.scss" | resources.ToCSS (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
<link rel="stylesheet" href="{{ $styling.Permalink }}">
{{ if (isset $.Site.Params "fontawesomekit" )}}
<script src="https://kit.fontawesome.com/{{$.Site.Params.fontawesomekit}}.js" crossorigin="anonymous"></script>
{{ end }}